.rodape-card {
  height: 35px;
  color: #614ea6;
}

.btn-detalhes {
  color: #fff;
  background-color: #614ea6;
}

.btn-detalhes:hover {
  color: #fff;
  background-color: #f21662;
}

.card-text {
  overflow: hidden;
  max-height: 200px;
}

.img-cartao {
    min-width: 100%;
    min-height: 200px;
    max-height: 200px;
}
